<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>رادین رایانه - ربات قیمت</title>

<link rel="stylesheet" href="/css/main.css">
<link rel="stylesheet" href="/css/fonts.css">
<link rel="stylesheet" href="/css/sideBar.css">
<link rel="stylesheet" href="/css/flash.css">
<link rel="stylesheet" href="/css/<%=css%>">

<link rel="icon" href="/media/icon.png">